<div class="question-answers">
  <%= render partial: 'votes/answer_vote_logic', :layout => false, locals: {answer: answer} %>
  <div class="answerbody"><%= answer.author.username %>
  <%= answer.content %></div>
</div>
