<div class="best-answer">
  <%= form_tag edit_answer_path, :method => :PUT do |f| %>
  <%= label_tag :best %>
  <%= check_box_tag :best {}, true %>
  <%= submit_tag 'Best Answer!' %>
  <% end %>
</div>
