.main-body {
  float: left;
  display: inline-block;
  margin-left: 5%;
  width: 80%;
}

.right-side-adverts {
  float: right;
  display: inline-block;

  margin-right: 2.5%;
  margin-top: 20%;
  width: 10%;


  height: 800px;
}
