.question-comments {
  background-color: lightblue;
  border: 2px black solid;
  margin-left: 5%;
  margin-top: 10px;
}

.question-title {


  font-size: 2em;
  margin-top: 10px;
  font-family: 'Yellowtail', cursive;
}

.answer-title {
  font-size: 1.5em;
  margin-top: 10px;
  font-family: 'Yellowtail', cursive;
}

.question-content {
  background-color: lightyellow;
  border: 1px black solid;
  font-size: 1.2em;
  margin-left: 2%;
  margin-top: 10px;
}

.question-body {
  display: inline-block;
}


.question-answers {
  background-color: lightyellow;
  border: 1px black solid;
  font-size: 1.2em;
  margin-left: 2%;
  margin-top: 10px;
}

.answer-section {
  background-color: lightpink;
}

.comment-body {
  background-color: lightblue;
  border: 2px black solid;
  margin-left: 5%;
}

.answervote {
  float: left;

}
.answerbody {
  margin-top: 3%;

}
.votebuttons {
  display: inline-block;
  margin-top: 10px;


}

.clear {
  clear: both;
}
.author {
  border: 1px black solid;
}

.comment-author-info {
  float: right;
  background-color: red;
}
.author-info {
  float: right;
  background-color: red;

}
.votecount {
  display: inline-block;
  background: url("votering.png") no-repeat;
  background-size: 100%;
  font-size: 2.5em;
  border-radius: 100%;
  text-align: center;
  width: 50px;
  font-family: 'Yellowtail', cursive;

}

/*
.imgBox {
width: 30px;
height: 30px;
background: url("glyphicons-202-upload.png") no-repeat;
}
.imgBox:hover {
 -moz-box-shadow: 0 0 10px #ccc;
 -webkit-box-shadow: 0 0 10px #ccc;
box-shadow: 0 0 10px #ccc;
}*/
