.question-comments {
  background-color: lightblue;
  border: 2px black solid;
  margin-left: 5%;
}

.question-title {
  background-color: lightpink;
  border: 1px black solid;
  font-size: 1.5em;
}

.question-content {
  background-color: lightyellow;
  border: 1px black solid;
  font-size: 1.2em;
  margin-left: 2%;
}


.question-answers {
  background-color: lightyellow;
  border: 1px black solid;
  font-size: 1.2em;
  margin-left: 2%;

}


.comment-body {
  background-color: lightblue;
  border: 2px black solid;
  margin-left: 5%;
}
