<span><%= question.votes.count %></span>
<div "votebuttons">
   <div><%= link_to image_tag("glyphicons-202-upload.png", :border => 0), root_path %></div>
  <div><%= link_to image_tag("glyphicons-201-download.png", :border => 0), root_path %></div>
</div>
